<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" type="text/css" href="../css/projet.css">
</head>
<body>
  <div class="row">
    <div class="col-lg-2">
      <%- include('partials/menu'); %>
    </div>
    <div class="col-lg-10">
      <div class="content">
        <div class="row">
          <h1 class="title">Enfant de la quarantaine</h1>
          <h4 class="art-description">acrylique et gesso sur toile, 64 po. x 52 po., 2020</h4>
        </div>
        
        <div>
          <h4 class="description">This is the description of the project <%= projectId %></h4>    
        <div>

        <div>
          
        </div>
      <div>
    </div>
  </div>
</body>
</html>