<div class="menu">
    <div class="title">
      <a href="/">
        <h2 class="name">
            Daria Elas
            <p>
                <small class="text-muted">Artist</small>
            </p>
        </h2>
      </a>
    </div>

    <div class="links">
      <div>
        <a href="/">Portfolio</a>
      </div>
      <div>
        <a href="/Gallery">Gallery</a>
      </div>
      <div>
        <a href="/About">About</a>
      </div>
      <div>
        <a href="/Enquiries">Enquiries</a>
      </div>
    </div>  

    <div class="follow">
      <div class="row">
        <div class="col-3">
          <a href="https://www.instagram.com/daria.elas/">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </div>
        <div class="col-3">
          <a href="mailto:dariaalexandrae@gmail.com">
            <i class="far fa-envelope fa-lg"></i>
          </a>
        </div>
      </div>
    </div> 
    
    <div class="footer">
      <p>
        I don't like sauces, 
      </br>
        but i can't escape them. 
      </p>
    </div>

</div>