<div class="row">
    <h1 class="first">Portfolio</h1>
</div>

<div class="row">
    <div class="col-6">
        <a href="/projet/1">
        <div class="image">
            <img src="../img/daria.jpg" alt="">
            <p class="description">
            <strong>
                Description du projet 1 
            </strong>
            </p>
        </div>
        </a>
    </div>
    <div class="col-6">
        <a href="/projet/2">
        <div class="image">
            <img src="../img/daria2.jpg" alt="">
            <p class="description">
            <strong>
                Description du projet 2
            </strong>
            </p>
        </div>
        </a>
    <div>
</div>